fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
alembic

python-jose[cryptography]
passlib==1.7.4
bcrypt==4.0.1

pydantic
pydantic-settings

python-multipart

httpx

python-dotenv

structlog

pytest
pytest-asyncio

ruff
mypy

email-validator

pypdf==5.4.0

sentence-transformers==4.1.0

qdrant-client==1.14.2